<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Pos</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body style="padding-top:0px">

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
        <div class="container">
            @Html.ActionLink("Pos", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav justify-content-end">
                    <li class="nav-item">@Html.ActionLink("Inicio", "Index", "Home", null, new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("Contacto", "Contact", "Home", null, new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("Artículo", "Index", "Articulo", null, new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("Factura", "Index", "Factura", null, new { @class = "nav-link" })</li>
                </ul>
            </div>
        </div>
    </nav>

    <header class="jumbotron" style="padding: 32px 32px 0px 32px">
        <div class="container">
            <div class="row row-header">
                <div class="col-12 col-sm-8">
                    <h1>Facturación</h1>
                    <p>Aplicación desarrollada usando ASP.NET MVC 5.2, Entity Framework 6.0.0 and Linq.  Font Awesome, Bootstrap 4</p>
                </div>
                <div class="col-12 col-sm-4" style="margin-bottom: 20px;">
                    <img src="~/img/invoice.png" class="img-fluid" height="150" width="180">
                </div>
            </div>
        </div>
    </header>

    <div class="container body-content">
        @RenderBody()
        <hr class="mt-5" />
        <footer>
            <p>&copy; @DateTime.Now.Year - WPereira </p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
