@model Pos.Models.Articulo

@{
    ViewBag.Title = "Detalle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h4>Detalle de Artículo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(model => model.Codigo)</dt>
        <dd>@Html.DisplayFor(model => model.Codigo)</dd>

        <dt>@Html.DisplayNameFor(model => model.Descripcion)</dt>
        <dd>@Html.DisplayFor(model => model.Descripcion)</dd>

        <dt>@Html.DisplayNameFor(model => model.Precio)</dt>
        <dd>@Html.DisplayFor(model => model.Precio)</dd>

        <dt>@Html.DisplayNameFor(model => model.Costo)</dt>
        <dd>@Html.DisplayFor(model => model.Costo)</dd>

        <dt>@Html.DisplayNameFor(model => model.Activo)</dt>
        <dd>@Html.DisplayFor(model => model.Activo)</dd>

        <dt>@Html.DisplayNameFor(model => model.Existencia)</dt>
        <dd>@Html.DisplayFor(model => model.Existencia)</dd>

    </dl>

    <div class="row mt-5">
        @Html.ActionLink("Editar", "Edit", new { id = Model.Codigo }, new { @class = "btn btn-light btn-large" })
        @Html.ActionLink("Regresar", "Index", null, new { @class = "btn btn-primary btn-large" })
    </div>

</div>
